* {
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
body{
    background-color: #ededed;

}
.navbar {
    height: 60px;
    width: 100%;
    background-color: #0F1111;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background-image: url(asset/images/amazon_logo.png);
    height: 50px;
    width: 100px;
    background-size: cover;
}

.border {

    border: 2px solid transparent;

}

.border:hover {
    border: 2px solid white;
    border-radius: 4%;

}

.nav-address {
    padding: 8px 5px;
}

.nav-address .Deliver {
    color: aliceblue;
    font-size: 0.8rem;
    margin-left: 15px;

}

.nav-address .address_icon p {
    margin-left: 2px;
    font-size: 1rem;
}

.nav-address .address_icon {
    color: aliceblue;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
}

.nav_search {
    background-color: aliceblue;
    display: flex;
    width: 50%;
    height: 80%;
    justify-content: space-evenly;
    border-radius: 4px;

}

.nav_search:hover {

    border: 2px solid #febd69;

}

.search_select {
    border-radius: 4px 0px 0px 4px;
    background-color: #f3f3f3;
    width: 4rem;
    text-align: center;
}

.search_area {
    width: 100%;
    font-size: 1rem;
    border: none;
    border-style: none;
}

.search_icon {
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: #febd69;
    color: #0f111152;
    border-radius: 0px 4px 4px 0px;
}

.nav_singin {
    padding: 7px;
}

.nav_singin span {
    color: aliceblue;
    font-size: 0.8rem;

}

.nav_singin .account {

    font-size: 1rem;
    font-weight: 700;
}

.nav_returns {
    padding: 7px;
}

.nav_returns span {
    color: aliceblue;
    font-size: 0.8rem;

}

.nav_returns .orders {

    font-size: 1rem;
    font-weight: 700;
}

.nav_Cart {
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.nav_Cart i {
    font-size: 28px;

}

.nav_Cart P {
    font-size: 12px;
    font-weight: 700;

}

/* <!-- nav panel --> */
.nav_panel {
    background-color: #242C3C;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #f3f3f3;
    max-height: 45px;
    padding: 0% 0.5% 0% 0.5%;
    height: 40px;
    overflow: hidden;
}

.panel_all,
.panel_deal {
    font-size: 14px04;
    font-weight: 700;
    padding: 7px 10px;
}

.panel_option {
    display: flex;
    flex-direction: row;
    width: 78%;
}

.panel_option p {
    padding: 0% 0.5% 0% 0.5%;
    padding: 7px 5px;
}

/* hero_sction */
.hero_sction {
    background-image: url(asset/images/hero_image.jpg);
    background-size: cover;
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_info a {
    direction: none;
    text-decoration: none;
    color: rgb(30, 236, 236);
}

.hero_info {
    margin-top: 10%;
    background-color: #f3f3f3;
    padding: 10px;
    width: 90%;
    text-align: center;


}

/* cart_contant */
.main_layout {
    margin-left: 2.5%;
    padding: 0.5%;
    width: 95%;
    margin-top: -80px;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1rem;

}

.layout_cart {
    padding: 0.5rem;
    height: 400px;
    background-color: #ffffff;
}

.layout_cart h3{
    margin: 10px 0px 10px;
}

.cart_contant {
    display: grid;
    grid-template-columns: 145px 145px;
    margin-bottom: 10px;
}

.img {
    text-align: center;
    margin: 5px;
}

.img p {
    text-align: start;
    font-size: 12px !important;
    line-height: 18px !important;
    color: #0F1111 !important;
    cursor: pointer;
}

.img img {
    max-width: 100%;
    height: 130px;
}

.main_layout .a {
    text-decoration: none;
    color: #007185;
    cursor: pointer;
    padding: 4px;


}
